body {
  font-size: 14px;
  font-family: "Montserrat";
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header,
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__stages {
  margin-bottom: 100px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background: #FFFAE4;
}

.header__container {
  max-width: 1085px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px 15px;
  margin: 0 auto;
}

.header_main {
  background: #fff;
}

.header_main .header__container {
  min-height: 70px;
  position: relative;
}

.header__logo img {
  height: 65px;
  width: 124px;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__burger {
  width: 60px;
  height: 60px;
  background: #D9E9B4;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.header__burger span {
  width: 26px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.header__burger span:nth-child(1) {
  top: 50%;
}

.header__burger span:nth-child(2) {
  top: calc(50% + 6px);
}

.header__burger span:nth-child(3) {
  top: calc(50% + 12px);
}

.header__burger.active {
  background: #3C7740;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}

.header__burger.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 38%;
  left: 45%;
}

.header__burger.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  top: 68%;
  left: 45%;
}

.menu__content {
  padding: 103px 15px 15px 35px;
  position: fixed;
  right: -100%;
  top: 0;
  min-height: 100%;
  width: 280px;
  background: #00542E;
  z-index: 10;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu.active .menu__content {
  right: 0;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  color: #fff;
  font-size: 18.5px;
  font-weight: 500;
  line-height: 145.9459459459%;
}

.footer__top {
  background: #EFEFEF;
  padding: 30px 0;
  position: relative;
  z-index: 3;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item:last-child {
  margin: 0;
}

.footer__link {
  font-size: 14px;
  color: #838384;
}

.footer__bottom {
  padding: 13px 0;
  background: #39793B;
}

.footer__copy {
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

.footer__label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 70px 0;
}

.intro__body {
  position: relative;
  z-index: 3;
}

.intro__container {
  max-width: 990px;
}

.intro__content {
  text-align: center;
}

.intro__text {
  color: #295F3E;
  line-height: 1.45;
  font-weight: 500;
  font-size: 20px;
}

.intro__title {
  color: #295F3E;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 26px;
}

.intro__title span {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

.quiz {
  text-align: center;
  min-height: calc(100vh - 120px);
  background: #FFFAE4;
}

.quiz__container {
  padding-top: 20px;
}

.quiz__title {
  color: #295F3E;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.37;
  max-width: 640px;
  margin: 0 auto 190px auto;
}

.quiz__title.active {
  margin: 0 auto 75px auto;
}

.quiz__board {
  height: 320px;
  width: 475px;
  border-radius: 30px;
  border: 1.3px solid #CBCAC4;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quiz__square {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: 50%;
}

.quiz__puzzles {
  position: relative;
  padding-bottom: 200px;
}

.quiz__piece {
  display: inline-block;
  margin-bottom: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.quiz__piece.hold {
  opacity: 1 !important;
}

.quiz__pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 438px;
  height: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.stages {
  padding-top: 190px;
}

.stages__container {
  position: relative;
}

.stages__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.stages__number {
  font-weight: 500;
  color: #295F3E;
  margin-right: 20px;
  font-size: 73px;
}

.stages__text {
  letter-spacing: -0.05em;
  font-weight: 500;
  text-transform: uppercase;
  color: #295F3E;
  line-height: 113.7142857143%;
  font-size: 25px;
}

.stages__image img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 308px;
  width: 100%;
}

.stages__line_bottom {
  position: absolute;
}

.quiz__variants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -15px;
}

.quiz__variant {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 339px;
  flex: 0 0 339px;
  padding: 0 15px;
  cursor: pointer;
}

.variant-quiz__letter {
  min-width: 45px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #295F3E;
  border-radius: 50%;
  background: #FFD656;
  text-transform: uppercase;
  padding: 1px;
  margin-right: 15px;
  font-size: 26px;
  font-weight: 500;
  margin-top: 5px;
}

.variant-quiz__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 21px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid transparent;
}

.variant-quiz__body.active {
  border: 1px solid #295F3E;
}

.variant-quiz__text {
  text-align: left;
  max-width: 190px;
  font-size: 22px;
  font-weight: 500;
  color: #295F3E;
  line-height: 117.6470588235%;
}

.win-quiz {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 540px;
  overflow: hidden;
  padding: 20px;
}

.win-quiz__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #89B800;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 10px;
}

.win-quiz__image img {
  width: 180px;
  height: auto;
}

.win-quiz__title {
  font-size: 33px;
  line-height: 121.2121212121%;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
  padding: 3px 0 3px 10px;
  letter-spacing: -0.07em;
}

.win-quiz__text {
  border: 1px solid #89B800;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
  background: #fff;
  padding: 25px;
  font-size: 24px;
  line-height: 116.6666666667%;
  color: #295F3E;
  font-weight: 500;
}

@media (min-width: 767.98px) {
  .intro {
    min-height: 682px;
  }

  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro__image {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
  }

  .intro__image img {
    max-width: 100%;
    height: auto;
  }

  .intro__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 3px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

@media (min-width: 991.98px) {
  .header_main .header__logo_adaptive {
    display: none;
  }

  .header_main .header__menu {
    display: none;
  }

  .header_main .header__burger {
    display: none;
  }

  .social-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .social-header__item {
    margin-right: 20px;
  }

  .social-header__item:last-child {
    margin: 0;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .footer__list {
    padding: 0 10px;
  }

  .footer__logo {
    margin-top: -30px;
  }

  .footer__logo img {
    width: 305px;
    height: 102px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .footer__to-top {
    display: none;
  }

  .intro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
  }

  .stages__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .stages__item {
    margin-bottom: 35px;
  }

  .stages__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 215px;
    flex: 0 0 215px;
  }

  .stages__column_last {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
  }

  .stages__column:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .stages__column:nth-child(even) .stages__image {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 35px;
  }

  .stages__column:nth-child(even) .stages__image img {
    width: 186px;
  }

  .stages__column:nth-child(even) .stages__item {
    margin-bottom: 0;
  }

  .stages__column .stages__image_rotated {
    display: none;
  }

  .stages__line_top {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 340px;
    width: 180px;
    height: 267px;
  }

  .stages__line_bottom {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 230px;
    width: 180px;
    height: 267px;
  }

  .stages__line_adaptive {
    display: none;
  }
}

@media (max-width: 1245px) {
  .intro__text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 925));
  }

  .intro__title {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 925));
  }

  .intro__title {
    font-size: calc(21px + 5 * ((100vw - 320px) / 925));
  }

  .intro__title span {
    font-size: calc(46px + 34 * ((100vw - 320px) / 925));
  }

  .stages__number {
    margin-right: calc(14px + 6 * ((100vw - 320px) / 925));
  }

  .stages__number {
    font-size: calc(54px + 19 * ((100vw - 320px) / 925));
  }

  .stages__text {
    font-size: calc(20px + 5 * ((100vw - 320px) / 925));
  }
}

@media (max-width: 991.98px) {
  .header_main .header__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header_main .header__logo {
    display: none;
  }

  .header_main .header__logo_adaptive {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .header_main .header__burger {
    background: transparent;
  }

  .header_main .header__burger span {
    background: #175733;
  }

  .header_main .header__burger.active {
    background: #539163;
  }

  .header_main .header__burger.active span {
    background: #fff;
  }

  .header__social {
    display: none;
  }

  .footer {
    text-align: center;
  }

  .footer__top {
    background: #5D9B51;
    text-align: center;
  }

  .footer__list {
    margin-bottom: 25px;
  }

  .footer__list:last-child {
    margin: 0;
  }

  .footer__item {
    margin-bottom: 25px;
  }

  .footer__link {
    color: #fff;
  }

  .footer__logo {
    display: none;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__copy {
    margin-bottom: 15px;
  }

  .footer__to-top {
    width: 83px;
    height: 83px;
    background: #00662A;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    font-weight: 500;
    padding-top: 20px;
    position: relative;
    top: 41.5px;
  }

  .footer__to-top span::before,
  .footer__to-top span::after {
    content: "";
    width: 2px;
    height: 12px;
    background: #fff;
    position: absolute;
  }

  .footer__to-top span::before {
    left: calc(50% - 4px);
    top: 10px;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    transform: translate(-50%, 0) rotate(45deg);
  }

  .footer__to-top span::after {
    left: calc(50% + 4px);
    top: 10px;
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .intro::before {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/intro/top-bg.png") 0 bottom/cover no-repeat;
  }

  .stages__text br {
    display: none;
  }

  .stages__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }

  .stages__image img {
    height: 216px;
  }

  .stages__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .stages__column:last-child {
    margin: 0;
  }

  .stages__column:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stages__column:last-child .stages__item {
    margin-bottom: 40px;
  }

  .stages__column:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stages__column:nth-child(2) .stages__item {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .stages__column:nth-child(2) .stages__image {
    display: none;
  }

  .stages__column:nth-child(2) .stages__image_rotated {
    display: block;
  }

  .stages__column:nth-child(2) .stages__image_rotated img {
    width: 226px;
    height: 188px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .stages__line_top {
    display: none;
  }

  .stages__line_bottom {
    left: 45px;
    top: 70px;
    width: 93px;
    height: 210px;
  }

  .stages__line_adaptive {
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 767.98px) {
  .intro__image {
    max-width: 360px;
    margin: 0 auto 20px auto;
  }

  .intro__image img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 767.98px) and (max-width: 1245px) {
  .intro {
    min-height: calc(500px + 182 * ((100vw - 320px) / 925));
  }

  .intro__image {
    -ms-flex-preferred-size: calc(300px + 200 * ((100vw - 320px) / 925));
    flex-basis: calc(300px + 200 * ((100vw - 320px) / 925));
  }
}

@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}