body {
  font-size: 14px;
  font-family: "Montserrat";
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.stroke svg {
  fill: none !important;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header,
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 120px;
}

.page__stages {
  margin-bottom: 113px;
}

.page__intro {
  margin-bottom: 75px;
}

*::-moz-selection {
  background: #00542E;
  color: #fff;
}

*::selection {
  background: #00542E;
  color: #fff;
}

img {
  pointer-events: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 50;
  background: #FFFAE4;
}

.header__container {
  max-width: 1085px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2px 15px;
  margin: 0 auto;
}

.header_main {
  background: #fff;
}

.header_main .header__container {
  min-height: 70px;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 29;
}

.header__logo img {
  height: 65px;
  width: 124px;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__burger {
  width: 60px;
  height: 60px;
  background: #D9E9B4;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 40;
}

.header__burger span {
  width: 26px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}

.header__burger span:nth-child(1) {
  top: 50%;
}

.header__burger span:nth-child(2) {
  top: calc(50% + 6px);
}

.header__burger span:nth-child(3) {
  top: calc(50% + 12px);
}

.header__burger.active {
  background: #3C7740;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}

.header__burger.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 38%;
  left: 45%;
}

.header__burger.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  top: 68%;
  left: 45%;
}

.menu__content {
  padding: 103px 15px 15px 35px;
  position: fixed;
  right: -100%;
  top: 0;
  min-height: 100%;
  width: 280px;
  background: #00542E;
  z-index: 30;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu.active .menu__content {
  right: 0;
}

.menu__item {
  margin-bottom: 32px;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  color: #fff;
  font-size: 18.5px;
  font-weight: 500;
  line-height: 145.9459459459%;
}

.footer__top {
  background: #EFEFEF;
  padding: 30px 0;
  position: relative;
  z-index: 3;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item:last-child {
  margin: 0;
}

.footer__link {
  font-size: 14px;
  color: #838384;
}

.footer__bottom {
  padding: 13px 0;
  background: #39793B;
}

.footer__copy {
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

.footer__label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
}

.swiper-build {
  overflow: hidden;
}

.swiper-build .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.swiper-build .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.swiper-build.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-build.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-build.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 100px 0;
}

.intro::before {
  content: "";
  background: url("../images/intro/corn-left.svg") 0 0 no-repeat;
  width: 192px;
  height: 162px;
  position: absolute;
  bottom: 0;
  left: -42px;
  z-index: 5;
}

.intro__body {
  position: relative;
  z-index: 3;
}

.intro__container {
  max-width: 990px;
}

.intro__image {
  position: relative;
}

.intro__content {
  text-align: center;
}

.intro__text {
  color: #295F3E;
  line-height: 1.45;
  font-weight: 500;
  font-size: 18px;
}

.intro__title {
  color: #295F3E;
  line-height: 1.5;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 40px;
}

.intro__title span {
  letter-spacing: -0.04em;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

.quiz {
  text-align: center;
  min-height: calc(100vh - 120px);
  background: #FFFAE4;
}

.quiz__game-over {
  display: none;
}

.quiz__container {
  padding-top: 20px;
  padding-bottom: 83px !important;
}

.quiz__title {
  color: #295F3E;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.37;
  max-width: 640px;
}

.quiz__board {
  height: 320px;
  width: 475px;
  border-radius: 30px;
  border: 1.3px solid #CBCAC4;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quiz__square {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: 50%;
}

.quiz__puzzles {
  position: relative;
  overflow: hidden;
}

.quiz__piece {
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.quiz__piece.active {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-filter: grayscale(0) drop-shadow(1px 0px 0px #175733) drop-shadow(-1px 0px 0px #175733) drop-shadow(0px 1px 0px #175733) drop-shadow(0px -1px 0px #175733) drop-shadow(1px 1px 0px #175733) drop-shadow(-1px -1px 0px #175733) drop-shadow(-1px 1px 0px #175733) drop-shadow(1px -1px 0px #175733);
  filter: grayscale(0) drop-shadow(1px 0px 0px #175733) drop-shadow(-1px 0px 0px #175733) drop-shadow(0px 1px 0px #175733) drop-shadow(0px -1px 0px #175733) drop-shadow(1px 1px 0px #175733) drop-shadow(-1px -1px 0px #175733) drop-shadow(-1px 1px 0px #175733) drop-shadow(1px -1px 0px #175733);
}

.quiz__piece.fixed {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  cursor: default;
}

.quiz__piece.hold {
  opacity: 1 !important;
}

.quiz__piece[data-piece-index="0"] {
  width: 202px;
  height: 171px;
}

.quiz__piece[data-piece-index="1"] {
  width: 182px;
  height: 206px;
}

.quiz__piece[data-piece-index="2"] {
  width: 202px;
  height: 171px;
}

.quiz__piece[data-piece-index="3"] {
  width: 170px;
  height: 206px;
}

.quiz__piece[data-piece-index="4"] {
  width: 247px;
  height: 170px;
}

.quiz__piece[data-piece-index="5"] {
  width: 176px;
  height: 206px;
}

.quiz__pieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 438px;
  height: auto;
}

.stages__container {
  position: relative;
}

.stages__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.stages__number {
  font-weight: 500;
  color: #295F3E;
  margin-right: 20px;
  font-size: 73px;
}

.stages__text {
  letter-spacing: -0.05em;
  font-weight: 500;
  text-transform: uppercase;
  color: #295F3E;
  line-height: 113.7142857143%;
  font-size: 25px;
}

.stages__image img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 308px;
  width: 100%;
}

.stages__line_bottom {
  position: absolute;
}

.quiz__container {
  position: relative;
}

.quiz__bottom {
  text-align: left;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
}

.quiz__prev-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #D9E9B4;
}

.quiz__prev-button svg {
  width: 90px;
  height: 29px;
  stroke: #fff;
}

.variant-quiz__letter {
  min-width: 45px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  min-height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #295F3E;
  border-radius: 50%;
  background: #FFD656;
  text-transform: uppercase;
  padding: 1px;
  margin-right: 15px;
  font-size: 26px;
  font-weight: 500;
  margin-top: 5px;
}

.variant-quiz__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 21px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 1px solid transparent;
}

.variant-quiz__body.active {
  border: 1px solid #295F3E;
}

.variant-quiz__text {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: #295F3E;
  line-height: 117.6470588235%;
}

.win-quiz {
  padding: 20px;
}

.win-quiz__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #89B800;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 10px;
}

.win-quiz__image img {
  width: 180px;
  height: auto;
}

.win-quiz__title {
  font-size: 33px;
  line-height: 121.2121212121%;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
  padding: 3px 0 3px 10px;
  letter-spacing: -0.07em;
}

.win-quiz__text {
  border: 1px solid #89B800;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
  background: #fff;
  padding: 25px;
  font-size: 24px;
  line-height: 116.6666666667%;
  color: #295F3E;
  font-weight: 500;
}

.games {
  position: relative;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.games__container {
  padding-top: 70px !important;
  padding-bottom: 83px !important;
}

.games__title {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #295F3E;
  position: relative;
  z-index: 3;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.games__items {
  position: relative;
  z-index: 5;
}

.games__item {
  text-align: center;
}

.games__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-games__image {
  margin: 0 auto;
  position: relative;
  top: 5px;
}

.item-games__image img {
  width: 214px;
  height: 174px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom;
}

.item-games__name {
  font-size: 32px;
  letter-spacing: -0.06em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 15;
}

.item-games__name_green {
  -webkit-text-stroke: 1px #2B9828;
}

.item-games__name_orange {
  -webkit-text-stroke: 1px #FF9436;
}

.item-games__name_white {
  -webkit-text-stroke: 1px #FFFFC0;
  color: #006633;
}

.item-games__puzzle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px;
  width: 280px;
  min-height: 186px;
  margin: 0 auto;
  position: relative;
}

.item-games__puzzle::before {
  content: "";
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 102%;
  height: 102%;
  z-index: 10;
  border-radius: 25px;
}

.item-games__body {
  display: block;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  padding: 35px 25px;
  position: relative;
  z-index: 3;
}

.loss-quiz {
  background: #FFB713;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loss-quiz__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.loss-quiz__image img {
  width: 175px;
  height: 221px;
}

.loss-quiz__text {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  text-align: center;
  line-height: 121.2121212121%;
  letter-spacing: -0.06em;
  color: #fff;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 500;
}

.game-over {
  text-align: center;
}

.game-over__top {
  margin-bottom: 36px;
}

.game-over__title {
  color: #295F3E;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.06em;
  line-height: 120%;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.game-over__motivation {
  max-width: 690px;
  margin: 0 auto;
  color: #295F3E;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.05em;
  line-height: 133.3333333333%;
  margin-bottom: 35px;
}

.game-over__text {
  max-width: 690px;
  margin: 0 auto;
  color: #295F3E;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.05em;
  line-height: 133.3333333333%;
  margin-bottom: 35px;
}

.game-over__text p {
  margin-bottom: 40px;
}

.game-over__text p:last-child {
  margin: 0;
}

.game-over__image {
  margin: 0 auto 40px auto;
  height: 320px;
  width: 475px;
  border-radius: 30px;
  border: 1.3px solid #CBCAC4;
  overflow: hidden;
}

.game-over__image img {
  width: 100%;
  height: 100%;
  -o-object-position: center center;
  object-position: center center;
  -o-object-fit: cover;
  object-fit: cover;
}

.game-over__button {
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 105px;
  padding: 2px 63px;
  background: #175733;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 26px;
}

.social-game-over__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-game-over li {
  margin: 0 20px;
}

.social-game-over__link svg {
  width: 40px;
  height: 40px;
  fill: #295F3E;
}

@media (min-width: 767.98px) {
  .intro {
    min-height: 682px;
  }

  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 550px;
    flex: 0 0 550px;
  }

  .intro__image img {
    max-width: 100%;
    height: auto;
  }

  .intro__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 3px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .quiz__title {
    margin: 0 auto 190px auto;
  }

  .quiz__title.active {
    margin: 0 auto 75px auto;
  }

  .quiz__puzzles {
    min-height: 560px;
  }

  .quiz__puzzles {
    margin-bottom: 90px;
  }

  .quiz__piece {
    position: absolute;
  }

  .quiz__piece:nth-child(1) {
    top: 35px;
    left: 0;
  }

  .quiz__piece:nth-child(2) {
    top: 35px;
    right: 0;
  }

  .quiz__piece:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  .quiz__piece:nth-child(4) {
    bottom: 0;
    left: 28%;
  }

  .quiz__piece:nth-child(5) {
    bottom: 0;
    left: 53%;
  }

  .quiz__piece:nth-child(6) {
    bottom: 0;
    right: 0;
  }

  .quiz__container {
    padding-bottom: 93px;
  }

  .quiz__top {
    min-height: 350px;
    margin-bottom: 36px;
  }

  .quiz__variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -15px 43px -15px;
  }

  .quiz__variant {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 339px;
    flex: 0 0 339px;
    padding: 0 15px;
    cursor: pointer;
  }

  .variant-quiz__text {
    max-width: 190px;
  }

  .win-quiz {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 540px;
    overflow: hidden;
  }

  .loss-quiz {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 500px;
  }

  .game-over__top {
    min-height: 350px;
  }

  .social-game-over__text {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .header_main .header__logo_adaptive {
    display: none;
  }

  .header_main .header__menu {
    display: none;
  }

  .header_main .header__burger {
    display: none;
  }

  .social-header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .social-header__item {
    margin-right: 20px;
  }

  .social-header__item:last-child {
    margin: 0;
  }

  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .footer__list {
    padding: 0 10px;
  }

  .footer__logo {
    margin-top: -30px;
  }

  .footer__logo img {
    width: 305px;
    height: 102px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .footer__to-top {
    display: none;
  }

  .intro__container {
    padding-bottom: 40px;
  }

  .intro__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
  }

  .intro__bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    z-index: 4;
  }

  .intro__title {
    font-size: 26px;
  }

  .stages__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .stages__item {
    margin-bottom: 35px;
  }

  .stages__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 215px;
    flex: 0 0 215px;
  }

  .stages__column_last {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
  }

  .stages__column:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .stages__column:nth-child(even) .stages__image {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 35px;
  }

  .stages__column:nth-child(even) .stages__image img {
    width: 186px;
  }

  .stages__column:nth-child(even) .stages__item {
    margin-bottom: 0;
  }

  .stages__column .stages__image_rotated {
    display: none;
  }

  .stages__line_top {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 340px;
    width: 180px;
    height: 267px;
  }

  .stages__line_bottom {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 230px;
    width: 180px;
    height: 267px;
  }

  .stages__line_adaptive {
    display: none;
  }

  .games__items .swiper-wrapper {
    -webkit-transform: none !important;
    transform: none !important;
  }
}

@media (max-width: 1245px) {
  .intro__title {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 925));
  }

  .stages__number {
    margin-right: calc(14px + 6 * ((100vw - 320px) / 925));
  }

  .stages__number {
    font-size: calc(54px + 19 * ((100vw - 320px) / 925));
  }

  .stages__text {
    font-size: calc(20px + 5 * ((100vw - 320px) / 925));
  }
}

@media (max-width: 1190px) {
  .item-games__name {
    font-size: 26px;
  }

  .item-games__puzzle {
    width: 230px;
    border-radius: 25px;
  }
}

@media (max-width: 991.98px) {
  .header_main .header__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header_main .header__logo {
    display: none;
  }

  .header_main .header__logo_adaptive {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .header_main .header__burger {
    background: transparent;
  }

  .header_main .header__burger span {
    background: #175733;
  }

  .header_main .header__burger.active {
    background: #539163;
  }

  .header_main .header__burger.active span {
    background: #fff;
  }

  .header__social {
    display: none;
  }

  .footer {
    text-align: center;
  }

  .footer__top {
    background: #5D9B51;
    text-align: center;
  }

  .footer__list {
    margin-bottom: 25px;
  }

  .footer__list:last-child {
    margin: 0;
  }

  .footer__item {
    margin-bottom: 25px;
  }

  .footer__link {
    color: #fff;
  }

  .footer__logo {
    display: none;
  }

  .footer__bottom {
    text-align: center;
  }

  .footer__copy {
    margin-bottom: 15px;
  }

  .footer__to-top {
    width: 83px;
    height: 83px;
    background: #00662A;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    font-weight: 500;
    padding-top: 20px;
    position: relative;
    top: 41.5px;
  }

  .footer__to-top span::before,
  .footer__to-top span::after {
    content: "";
    width: 2px;
    height: 12px;
    background: #fff;
    position: absolute;
  }

  .footer__to-top span::before {
    left: calc(50% - 4px);
    top: 10px;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    transform: translate(-50%, 0) rotate(45deg);
  }

  .footer__to-top span::after {
    left: calc(50% + 4px);
    top: 10px;
    -webkit-transform: translate(-50%, 0) rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .intro::before {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/intro/top-bg.png") 0 bottom/cover no-repeat;
  }

  .intro__title {
    font-size: 21px;
  }

  .intro__title span {
    font-size: 46px;
  }

  .stages__text br {
    display: none;
  }

  .stages__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
  }

  .stages__image img {
    height: 216px;
  }

  .stages__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .stages__column:last-child {
    margin: 0;
  }

  .stages__column:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stages__column:last-child .stages__item {
    margin-bottom: 40px;
  }

  .stages__column:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .stages__column:nth-child(2) .stages__item {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .stages__column:nth-child(2) .stages__image {
    display: none;
  }

  .stages__column:nth-child(2) .stages__image_rotated {
    display: block;
  }

  .stages__column:nth-child(2) .stages__image_rotated img {
    width: 226px;
    height: 188px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .stages__line_top {
    display: none;
  }

  .stages__line_bottom {
    left: 45px;
    top: 70px;
    width: 93px;
    height: 210px;
  }

  .stages__line_adaptive {
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 230px;
    height: 230px;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .page {
    padding-top: 60px;
  }

  .page__stages {
    margin-bottom: 22px;
  }

  .header.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 66px;
    width: 100%;
    background: #FFFAE4;
    z-index: 15;
  }

  .header__container {
    min-height: 60px;
  }

  .header__logo img {
    width: 90px;
    height: 58px;
  }

  .header__burger {
    width: 41px;
    height: 41px;
    padding: 3px;
  }

  .header__burger.active span:nth-child(1) {
    top: 26%;
    left: 40%;
  }

  .header__burger.active span:nth-child(3) {
    top: 70%;
    left: 40%;
  }

  .intro__image {
    max-width: 360px;
    margin: 0 auto 20px auto;
    padding-top: 40px;
  }

  .intro__image img {
    width: 100%;
    height: auto;
  }

  .quiz__answer {
    min-height: 160px;
  }

  .quiz__title {
    margin-bottom: 15px;
  }

  .quiz__title.active {
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .quiz__title {
    font-size: 20px;
  }

  .quiz__title br {
    display: none;
  }

  .quiz__board {
    width: 320px;
    height: 213px;
  }

  .quiz__piece {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 10px;
  }

  .quiz__piece:last-child {
    margin: 0;
  }

  .quiz__piece[data-piece-index="0"] {
    width: 86px;
    height: 73px;
  }

  .quiz__piece[data-piece-index="1"] {
    width: 78px;
    height: 88px;
  }

  .quiz__piece[data-piece-index="2"] {
    width: 86px;
    height: 73px;
  }

  .quiz__piece[data-piece-index="3"] {
    width: 73px;
    height: 88px;
  }

  .quiz__piece[data-piece-index="4"] {
    width: 105px;
    height: 73px;
  }

  .quiz__piece[data-piece-index="5"] {
    width: 75px;
    height: 90px;
  }

  .quiz__pieces {
    overflow: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 152px;
    padding: 0 3px;
  }

  .quiz__prev-button {
    width: 35px;
    height: 35px;
  }

  .quiz__prev-button svg {
    width: 20px;
    height: 17px;
  }

  .quiz__variants.active {
    position: fixed;
    width: calc(100% + 40px);
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
    height: 100vh;
    background: #FFFAE4;
    z-index: 10;
    overflow: auto;
    padding: 70px 20px 92px;
  }

  .quiz__variant {
    padding: 0 20px;
    margin-bottom: 17px;
  }

  .quiz__variant:last-child {
    margin: 0;
  }

  .variant-quiz__letter {
    min-width: 30px;
    min-height: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 18px;
    margin-right: 12px;
  }

  .variant-quiz__body {
    border-radius: 50px;
    padding: 10px 20px;
  }

  .variant-quiz__text {
    font-size: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .win-quiz__top {
    position: relative;
    min-height: 98px;
  }

  .win-quiz__image img {
    width: 140px;
    position: absolute;
    left: -10px;
    top: -20px;
  }

  .win-quiz__title {
    font-size: 17px;
    line-height: 123.5294117647%;
    padding-left: 120px !important;
  }

  .win-quiz__title br {
    display: none;
  }

  .win-quiz__text {
    font-size: 12px;
    line-height: 150%;
    padding: 14px 30px;
  }

  .item-games__image img {
    width: 174px;
  }

  .loss-quiz {
    margin: 0 20px;
  }

  .loss-quiz__image img {
    width: 136px;
    height: 170px;
  }

  .loss-quiz__text {
    font-size: 20px;
  }

  .game-over__title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .game-over__motivation {
    font-size: 14px;
    margin-bottom: 28px;
  }

  .game-over__text {
    font-size: 14px;
  }

  .game-over__text p {
    margin-bottom: 19px;
  }

  .game-over__text p:last-child {
    display: none;
  }

  .game-over__image {
    width: 320px;
    height: 213px;
  }

  .game-over__button {
    font-size: 14px;
    padding: 2px 33px;
    min-height: 35px;
    font-weight: 500;
  }

  .social-game-over {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social-game-over {
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid #295F3E;
  }

  .social-game-over__text {
    text-align: left;
    font-size: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 2px;
    color: #295F3E;
    line-height: 135.7142857143%;
    font-weight: 500;
  }

  .social-game-over li {
    margin: 0 7px;
  }

  .social-game-over__link svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .variant-quiz__text {
    line-height: 150%;
  }
}

@media (max-width: 380.98px) {
  .game-over__top {
    padding: 0 20px;
  }

  .game-over__container {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -20px;
  }

  .game-over__motivation {
    padding: 0 20px;
  }

  .game-over__button {
    margin: 0 20px;
  }
}

@media (max-width: 360.98px) {
  .quiz__puzzles {
    margin: 0 -20px;
  }

  .quiz__pieces {
    padding: 0 20px;
  }
}

@media (min-width: 767.98px) and (max-width: 1100px) {
  .quiz__board {
    width: 404px;
    height: 270px;
  }

  .quiz__piece[data-piece-index="0"] {
    width: 172px;
    height: 146px;
  }

  .quiz__piece[data-piece-index="1"] {
    width: 156px;
    height: 176px;
  }

  .quiz__piece[data-piece-index="2"] {
    width: 173px;
    height: 146px;
  }

  .quiz__piece[data-piece-index="3"] {
    width: 145px;
    height: 176px;
  }

  .quiz__piece[data-piece-index="4"] {
    width: 208px;
    height: 145px;
  }

  .quiz__piece[data-piece-index="5"] {
    width: 148px;
    height: 177px;
  }

  .game-over__image {
    width: 404px;
    height: 270px;
  }
}

@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }

  .item-games__body:hover {
    -webkit-box-shadow: 0 0 8px rgba(0, 84, 46, 0.2);
    box-shadow: 0 0 8px rgba(0, 84, 46, 0.2);
    background: #FFF5C2;
  }

  .item-games__body:hover .item-games__puzzle::before {
    background: #FFD561;
  }
}